<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>써도 되나?</title>
  <link rel="stylesheet" href="/resources/css/bootstrap.css">
  <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-xl">
      <a class="navbar-brand" href="/">
        <img src="/resources/images/logo.png" alt="써도되나" title="써도되나">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse m-5" id="navbarSupportedContent">
        <ul class="navbar-nav mr-5 ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">제품 소비기한 조회</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/look">내 제품 소비기한 한눈에 보기</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">라벨지 출력하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendar">캘린더 일정 확인하기</a>
          </li>
        </ul>
        <button class="btn btn-look" onClick="location.href='/login'">로그인</button>
      </div>
    </div>
  </nav>

  <div class="container-xl">
    <div class="label-text">
      <p class="h2 mb-0 mt-5 text-black font-weight-bolder text-center d-block">라벨지 출력하기</p>
      <p class="h5 mt-3 mb-5 text-black text-center d-block">제품의 소비기한을 라벨지로 출력해보세요.</p>
    </div>
    <div class="label-content">
      <!-- 라벨지 출력 영역 -->
      <div id="label-area">
        <p class="h5 text-black">제품명: <%= productName %></p>
        <p class="h5 text-black">제조일자: <%= manufactureDate %></p>
        <p class="h5 text-black">소비기한: <%= expiryDate %></p>
      </div>
      <button type="button" class="btn btn-look btn-block mb-0" onClick="window.print()">라벨지 출력하기</button>
    </div>
  </div>

  <footer id="footer">
    <div class="look-line mt-5"></div>
    <img src="/resources/images/logo.png" class="mt-5 center" alt="">
    <img src="/resources/images/sns.png" class="d-block mt-2 sns center" alt="">
    <p class="text-dark mt-0 center">Copyright(c) 2024 써도 되나?. All rights reserved.</p>
  </footer>
</body>
</html>
