<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>써도 되나?</title>
  <link rel="stylesheet" href="/resources/css/bootstrap.css">
  <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-xl">
      <a class="navbar-brand" href="/">
        <img src="/resources/images/logo.png" alt="써도되나" title="써도되나">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse m-5" id="navbarSupportedContent">
        <ul class="navbar-nav mr-5 ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">제품 소비기한 조회</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/look">내 제품 소비기한 한눈에 보기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/label">라벨지 출력하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendar">캘린더 일정 확인하기</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-xl">
    <div class="login-text">
      <p class="h2 mb-0 mt-5 text-black font-weight-bolder text-center d-block">로그인</p>
      <p class="h5 mt-3 mb-5 text-black text-center d-block">계정에 로그인하세요.</p>
    </div>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email">이메일 주소</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요" required>
      </div>
      <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
      </div>
      <button type="submit" class="btn btn-look btn-block">로그인</button>
    </form>
  </div>

  <footer id="footer">
    <div class="look-line mt-5"></div>
    <img src="/resources/images/logo.png" class="mt-5 center" alt="">
    <img src="/resources/images/sns.png" class="d-block mt-2 sns center" alt="">
    <p class="text-dark mt-0 center">Copyright(c) 2024 써도 되나?. All rights reserved.</p>
  </footer>
</body>
</html>
